
.main {
    border:none;
    border-radius: none;
}


.main:before {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
     background: radial-gradient(circle at 90% 10%, rgba(58, 68, 107 ), rgba(130, 137, 161, 0) );
}

ul>li {
    margin-left: 10px;
}
ul>.active {
    background:#00a8ff;
}
.service {
    position: relative;
  }
.position {
    position:relative;
}
@media (min-width:992px) {
    .service:before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 0;
    height: 0;
	border-bottom: 100px solid white; 
	border-left: 1300px solid transparent;
}
.card-img-overlay>.d-flex>.card-text {
    margin-top: 200px;
}
.position {
    position: absolute;
    bottom: 100%;
    left: 5%;
    }
  .training {
    margin-bottom: 15%;
  }
 .team:before {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 100px solid #f7f7f7; 
        border-left: 1300px solid transparent;
    }

}
.first {
    padding: 0;
}
.first:before {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(244, 67, 54, .9);
}

.second {
    display: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.second:before {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(93, 182, 98, .9);
}
.third {
    padding: 0;
    display: none;
   }
.third:before {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(1, 152, 230, .9);
}
@media (min-width:992px) {
    .main>.card-img-overlay>nav {
        padding: 25px 20px 0px 20px;
    }
.second {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}
.third {
    display: block;
}
}
.table_child>td {
    border-top: none;
}
.table_child>th {
    border-top: none;
}
tbody>.table_child>th{
    padding-right: 15px;
    width: 20px;
    height: 17px;
    background: url(image/sprites.png);
    background-position: -7px -7px;
}
tbody>.table_child+tr>th{
    padding-right: 15px;
    width: 21px;
    height: 17px;
    background: url(image/sprites.png);
    background-position: -45px 7px;
}
tbody>.table_child+tr+tr>th{
    padding-right: 15px;
    width: 20px;
    height: 17px;
    background: url(image/sprites.png);
    background-position: -87px 7px;
}
#slider {
    position: relative;
}
.carousel-indicators li {
    width: 5px;
    height: 5px;

}
.carousel-indicators-small {
    position: absolute;
 top: 0;
 left: 50%;
}
.d-sm-none {
    display: none;
}
.training .active {
    border: 1px solid #07aaff;
}
.training_1::before{
    content: "";
    position: absolute;
    bottom: 60%;
    left: 45%;
    width: 50px;
    height: 45px;
    background: url(image/sprites2.png);
    background-position: -10px -7px;
    
}
.training_3::before{
    content: "";
    position: absolute;
    bottom: 60%;
    left: 45%;
    width: 50px;
    height: 50px;
    background: url(image/sprites2.png);
    background-position: -80px -10px;
    }
    .training_2::before{
        content: "";
        position: absolute;
        top: -10%;
        left: 45%;
        width: 50px;
        height: 50px;
        background: url(image/sprites2.png);
        background-position: -158px -20px;
        }
.team {
    position: relative;
 background:#f7f7f7;
}
input {
    cursor: pointer;
    background:white;
    font-size: 15px;
    color: #00a8ff;
    border:1px solid #00a8ff;
  
}
input[type="submit"]:hover{
background:#00a8ff;
color: white;
}

.trainer1 {
    position: relative;
    margin-top: 125px;
}
.trainer1::before{
    content: "";
    position: absolute;
    border-radius:50%;
    z-index: 2;
    bottom: -25%;
    left: 50%;
    transform: translate(-55px, 0);
    width: 120px;
    height: 120px;
    background: url(image/sprites3.png);
    background-position: -10px -10px;
    }
    .trainer2 {
        position: relative;
        margin-top: 125px;
    }
    .trainer2::before{
        content: "";
        position: absolute;
        border-radius:50%;
        z-index: 1;
        bottom: -25%;
        left: 50%;
        transform: translate(-55px, 0);
        width: 120px;
        height: 120px;
        background: url(image/sprites3.png);
        background-position: -150px -10px;
        }   
            .trainer3 {
                position: relative;
                    margin-top: 125px;
            }
    .trainer3::before{
                content: "";
                position: absolute;
                border-radius:50%;
                z-index: 1;
                bottom: 0%;
                left: 50%;
                transform: translate(-55px, 0);
                width: 120px;
                height: 120px;
                background: url(image/sprites3.png);
                background-position: -290px -10px;
                }    
                .price{
                    display: none;
                    background:rgba(16, 168, 243, .9);
                 }
                   
@media (min-width:768px){
    .trainer1:hover>.price{
        display: block;
    }
    .trainer2:hover>.price{
        display: block;
    }
    .trainer3:hover>.price{
        display: block;
    } 
   .trainer1 {
    margin-top: 0;
   }
   .trainer2 {
    margin-top: 0;
   }
   .trainer3 {
    margin-top: 0;
   }
    .trainer1::before{
       bottom: -25%;
    }
        .trainer2::before{
            bottom: -25%;
        }
    .trainer3::before{
                bottom: -25%;
                }
                .pricing>.card>.card-img-overlay>.row>.card-group>.card>.cost{
                     font-weight: lighter;
                     font-size: 19px;
                  } 
}  
.pricing>.card-title {
    font-size: 48px;
} 
.pricing>.card>.card-img-overlay>.row {
    margin: 0;
}  
.pricing>.card {
    border:none;
}
.pricing>.card>.card-img-overlay>.row>.card-group>.card {
    background:#00a8ff;
    border:none;
}    




  .pricing>.card>.card-img-overlay>.row>.card-group>.card> form >input {
      background:none;
      cursor: pointer;
  }    
  .pricing>.card>.card-img-overlay>.row>.card-group>.condition>p {
      position: relative;
  }
  .pricing>.card>.card-img-overlay>.row>.card-group>.condition>p:before {
      content: "";
      width: 5px;
      height: 5px;
      background:white;
      position: absolute;
      top: 40%;
      left: -5%;

  }
  .pricing>.card>.card-img-overlay>.secondprice>.card-group>.card {
    background:#bbbbbb;
    border:none;
}  
.excerption {
    background:#00a8ff;
}
.excerption>.carousel {
    position: relative;
}
.excerption>.carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 26px;
    height: 21px;
    background: url(image/TWITTER.png);
  }
.reserve {
    position: relative;
    background: url(image/bg_legs.png);
    background-position: 0 -70%;
}
.reserve::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient( to right top, rgba(39, 45, 69, .9) 20%,rgba(39, 45, 69, 1), rgba(47, 58, 98, 1));
}
.reserve>.container>.row>.mr-5>form>input {
    background:#00a8ff;
    color: white;
}
.reserve>.container>.row {
    position: relative;
    z-index: 1;
}
.list-group-item {
    background:none;
    border: none;
    width: 20px;
    height: 40px;
}
.list-group-item>a {
 padding: 15px;
  
}
.list-group-item:first-child>a{
       background: url(image/sprites4.png);
       background-position:-10px 0px;

}
.list-group-item:nth-child(2)>a{
    background: url(image/sprites4.png);
    background-position: 82px 4px;
}
.list-group-item:nth-child(3)>a{
    background: url(image/sprites4.png);
    background-position: 38px 0px;
}