@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapperMob {
    display: none;
}
.wrapper {
    overflow: hidden;
    text-align: center;
}
.wrapper > div {
    position: relative;
}
.wrapper > div > img {
    margin-left: -5%;
}
.confira {
    position: absolute;
    top: 40%;
    left: 20%;
}
.confira > h2 {
padding: 0 25px;
color: #000000;
font-family: 'Rajdhani', sans-serif;
font-size: 35px;
font-weight: 500;
letter-spacing: normal;
line-height: 41.54px;
text-align: center;
text-transform: uppercase;
border-bottom: 2px solid black;
}
.confira > h2 > span {
font-weight: 700;
}
.confira > p {
    color: #000000;
    font-family: 'Courier Prime', monospace;
    padding-top: 10px;
font-size: 22px;
font-weight: 400;
line-height: 27.8px;
text-align: center;
text-transform: uppercase;
}
.confira > button {
width: 118px;
height: 37px;
margin-top: 45px;
cursor: pointer;
border: 2px solid #393939;
background-color: #f3f2ee;
color: #000000;
font-family: 'Rajdhani', sans-serif;
font-size: 25px;
font-weight: 500;
line-height: 29.56px;
text-align: center;
text-transform: uppercase;
}
header {
    position: relative;
    background: #000000;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    max-height: 45px;
}
.btn {
    position: relative;
    outline: none;
}
#underMenu {
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    background: green;
    z-index: 5;
    width: 600px;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
    /* height: 610px; */
}
.headOfMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background: black;
    padding-left: 30%;
}
.headOfMenu >  p {
color: #ffffff;
font-family: 'Rajdhani', sans-serif;
font-size: 20px;
font-weight: 500;
text-align: left;
text-transform: uppercase;
letter-spacing: 0.53px;
}
.headOfMenu > div > a {
    text-decoration: none;
}
#underMenu > form > input {
    width: 355px;
height: 42px;
background-color: #ffffff;
border: none;
outline: none;
padding: 10px;
color: #585858;
font-family:'Rajdhani', sans-serif;
font-size: 16px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 0.43px;
}
#underMenu > form {
    background: #b1b1b1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#underMenu > form > button {
    margin: 10px;
    cursor: pointer;
    outline: none;
    border: none; 
    width: 46px;
height: 42px;
background-color: #000000;
}
.listOfMenu > li{
    position: relative;
    min-height: 70px;
background: white;
border-bottom: 2px solid #b1b1b1;
}
.listOfMenu > li > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.listOfMenu > li > div > a {
    text-decoration: none;
    margin-left: 180px;
    color: #292929;
    font-family:'Rajdhani', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.39px;
}
.listOfMenu > li > div > button {
    cursor: pointer;
    border: none;
    outline: none;
    background:none;
}
.underList {
    background: #000000;
}
.underList > li {
    min-height: 45px;
    border-bottom: 1px solid #fff;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.underList > li > a {
    text-decoration: none;
    margin-left: 180px;
    color: #fff;
    font-family:'Rajdhani', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.39px;
}
.underList > li > button {
    cursor: pointer;
    border: none;
    outline: none;
    background:none;
}
/* .underList {
position: relative;
width:100%;
bottom: 0;
} */
.btn > button {
    background: none;
    border: none;
    cursor: pointer;
}
header > div > h3 {
color: #ffffff;
font-family: 'Rajdhani', sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 13.69px;
text-align: center;
text-transform: uppercase;
margin-top: 10px;
}
header > div > p {
color: #ffffff;
font-family: 'Rajdhani', sans-serif;
font-size: 26px;
font-weight: 500;
line-height: 38.4px;
text-align: center;
text-transform: uppercase;
}
.basket {
    display: flex;
}
.basket > button {
    cursor: pointer;
    background: none;
    border: none;
}
.wrapper2 {
    margin: 30px 150px;
}
.wrapper2 > h3 {
    position: relative;
color: #393939;
font-family: 'Rajdhani', sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 28.68px;
text-align: center;
text-transform: uppercase;
}
.wrapper2 > h3::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 28%;
    height: 30px;
    width: 100px;
    background: url(image/left.png) no-repeat;
}
.wrapper2 > h3::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 25%;
    height: 30px;
    width: 100px;
    background: url(image/right.png) no-repeat;
}
.slider {
    margin-top: 30px;
}
.slider > li {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
color: #000000;
font-family: 'Rajdhani', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 23.07px;
text-transform: uppercase;
}
.up{
    width:100%;
    display: none;
background: rgba(0, 0, 0, .6);
color: #ffffff;
font-family: 'Rajdhani', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 23.07px;
text-align: center;
text-transform: uppercase;
letter-spacing: 1.94px;
position: absolute;
bottom: 8.5%;
}
.slider > li:hover .up {
    display: block;
}
.carousel {
    position: relative;
}
.arrow {
    z-index: 2;
    position: absolute;
    top: 50%;
    padding: 0;
    background: none;
    border: none;
    font-size: 28px;
    line-height: 24px;
    color: #d0d0d0;
    display: block;
    cursor: pointer;
  }
  
  .arrow:focus {
    outline: none;
  }
  .prev {
    left: -15px;
  }
  
  .next {
    right: -20px;
  }
  .gallery {
    overflow: hidden;
  }
  .gallery ul {
    width: 9999px;
    transition: 250ms;
  }
  .wrapper3 {
      position: relative;
      overflow: hidden;
      margin: 60px auto;
      text-align: center;
      padding-top: 100px;
  }
  .wrapper3::before {
      content: "";
      position: absolute;
      top: 0;
      left: 45%;
      width: 200px;
      height: 150px;
      background: url(image/iconDIVISORIA.png) no-repeat;
  }
  .wrapper3 > div {
      display: flex;
  justify-content: center;
  }
  .wrapper3 > div > div{
    position: relative;
      padding: 5px;
  }
  .wrapper3 > div > div > p {
      position: absolute;
      text-shadow: 0 3px 0 #141518; 
      z-index: 3;
      top: 45%;
      left: 40%; 
color: #ffffff;
font-family: 'Rajdhani', sans-serif;
font-size: 34px;
font-weight: 400;
letter-spacing: 1.22px;
text-align: center;
text-transform: uppercase;
  }
  .wrapper3 > div > div:before{
    content: "";
    width: 98%;
    height: 96.5%;
    position: absolute;
    z-index: 2;
    top: 1%;
    left: 1%;
    background: rgba(0, 0, 0, .4); 
  }
  .wrapper4 {
      overflow: hidden;
  }
.wrapper4 > h3 {
    position: relative;
color: #393939;
font-family:'Rajdhani', sans-serif;
font-size: 24px;
font-weight: 400;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.29px;
}
.wrapper4 > h3::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 33%;
    height: 30px;
    width: 100px;
    background: url(image/left.png) no-repeat;
}
.wrapper4 > h3::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 30%;
    height: 30px;
    width: 100px;
    background: url(image/right.png) no-repeat;
}
.galeria {
    display: flex;
   justify-content: center;
    text-align: center;
    margin: 40px 0;
}
.galeria > div {
    position: relative;
    margin: 10px;
}
.galeria > div > div {
    position: absolute;
display: none;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4); 
}
.galeria > div:hover div {
    display: block;
}
.galeria > div  > p {
    position: absolute;
    z-index: 2;
    display: none;
    top: 30%;
    left: 35%;
color: #ffffff;
font-family: 'Rajdhani', sans-serif;
font-size: 24px;
font-weight: 400;
text-align: center;
letter-spacing: 0.29px;
padding-top: 40px;
background: url(image/icon-LIKE.png) no-repeat 50% 0;
}

.galeria > div:hover p {
    display: block;
}
.wrapper5 {
    margin: 30px auto;
    overflow: hidden;
}
.wrapper5 > h3 {
    position: relative;
color: #393939;
font-family:'Rajdhani', sans-serif;
font-size: 24px;
font-weight: 400;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.29px;
}
.wrapper5 > h3::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 38%;
    height: 30px;
    width: 100px;
    background: url(image/left.png) no-repeat;
}
.wrapper5 > h3::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 35%;
    height: 30px;
    width: 100px;
    background: url(image/right.png) no-repeat;
}
 .wrapper5 > .galeria > div > p {
  background: none;
  top:30%;
  left: 30%;
 }
 .wrapper6 > form {
     display: flex;
     justify-content: center;
     margin: 60px auto;
 }
 .wrapper6 > form > input {
     width: 380px;
     height: 48px;
     border: 2px solid #d0d0d0;
     border-radius: none;
     outline: none;
     text-align: center;
     margin-right: 5px;
 }
 .wrapper6 > form > input[placeholder] {
    color: #393939;
    font-family: 'Rajdhani', sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.69px;
 }
.submit {
    width: 216px;
    height: 50px;
    border: none;
    outline: none;
    box-shadow:  0 4px 0 rgba(20, 21, 24, 0.75);
    background-color: #d0d0d0;
    cursor: pointer;
color: #393939;
font-family: 'Rajdhani', sans-serif;
font-size: 19px;
font-weight: 400;
text-align: center;
text-transform: uppercase;
letter-spacing: 1.83px;
}
.wrapper6 > form > p {
    position: relative;
    width: 150px;
    z-index: 2;
height: 40px;
background-color: #000000;
color: #ffffff;
font-family: 'Rajdhani', sans-serif;
font-size: 19px;
text-align: center;
text-transform: uppercase;
letter-spacing: 1.83px;
padding-top: 14px;
margin-right: 40px;
}
.wrapper6 > form > p::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 14%;
    right: -13%;
    width: 19px;
    height: 18px;
    border-right: 20px solid black;
    border-bottom: 20px solid black;
    transform: rotate(315deg);
}
footer {
    height: 36px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.contact > li {
    display: inline-block;
    margin-right:30px;
}
.contact > li > a {
    cursor: pointer;
color: #ffffff;
text-decoration: none;
font-family: 'Rajdhani', sans-serif;
font-size: 15px;
text-align: left;
text-transform: uppercase;
letter-spacing: 0.55px;
}
.social > li {
    display: inline-block;
    margin: 0 5px;
}
.social > li > a {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .confira > button {
        margin-top: 10px;
    }
    .wrapper2 > h3::before {
        left: 20%;
}
.wrapper2 > h3::after {
    right: 16%;
}
.wrapper4 > h3::before {
    left: 30%;
}
.wrapper4 > h3::after {
    right: 27%;
}
.galeria > div {
    margin: 5px;
}
.wrapper4 > .galeria > div > img {
    width: 190px;
}
.wrapper5 > h3::before {
    left: 35%;
}
.wrapper5 > h3::after {
    right: 31%;
}
.wrapper5 > .galeria > div > img {
    width: 240px;
}
.wrapper6 > form > p::before {
    right: -16%;
    top: 15%;
}
}

@media screen and (max-width: 768px) {
.wrapper >  div > img {
    width: 1240px;
}
.wrapper2 {
    margin: 30px 30px;
}
.wrapper2 > h3::before {
    left: 5%;
}
.wrapper2 > h3::after {
right: 0;
}
.wrapper3 > div > div > img {
    width: 100%;
}
.wrapper4 > h3::before {
    left: 24%;
}
.wrapper4 > h3::after {
    right: 20%;
}
.wrapper4 > .galeria > div > img {
    width: 140px;
}
.wrapper5 > h3::before {
    left: 30%;
}
.wrapper5 > h3::after {
    right: 27%;
}
.wrapper5 > .galeria > div > img {
    width: 175px;
}
.wrapper6 > form > input {
    width: 250px;
}
.submit {
    width: 140px;
    margin-right: 15px;
}
.wrapper6 > form > p {
    margin-left: 15px;
}
.wrapper6 > form > p::before {
    right: -15%;
}
}
@media screen and (max-width: 450px){
    header > div > p {
        display: none;
    }
    #underMenu {
        width: 100vw;
    }
    .headOfMenu {
        padding: 0 10px;
    }
    .search > input {
        margin-left: 10px;
    }
    .listOfMenu > li > div > a  {
        margin-left: 10px;
    }
    .wrapper {
        display: none;
    }
    .wrapperMob {
        display: block;
        position: relative;
    }
    .wrapperMob > div > img {
        width: 600px;
    }
    .wrapperMob::before {
        content: "FRETE GRÃTIS PARA COMPRAS ACIMA DE R$300,00";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        color: #ffffff;
font-family:'Rajdhani', sans-serif;
background: #c5c5c5;
font-size: 13px;
line-height: 17.05px;
text-align: center;
text-transform: uppercase;
    }
    .confira {
        text-align: center;
    }
    .confira > h2 {
font-size: 14px;
line-height: 10px;
border-bottom: 1px solid #000000;
    }
    .confira > p {
        font-size: 11px;
        padding-top: 0;
    }
    .confira > button {
        margin-top: 0;
        width: 78px;
height: 25px;
font-size: 16px;
line-height: 0;
    }
    .wrapper2 {
        margin: 30px 0;
        padding: 0 20px;
        overflow: hidden;
    }
    .wrapper2 > h3 {
       font-size: 18px;
    }
    .wrapper2 > h3::before {
        left: 0;
    }
    .wrapper2 > h3::after {
        right: -10%;
        }
        .wrapper3::before { 
            left: 33%;
        }
        .wrapper3 > div { 
            display: block;
        }
        .wrapper3 > div > div > p  {
            left: 33%;
        }
        .wrapper4 > h3 {
            font-size: 18px;
         }
         .wrapper4 > h3::before {
            left: 5%;
        }
        .wrapper4 > h3::after {
            right: -3%;
            }
            .wrapper5 {
                margin: 0 auto;
            }
         .wrapper5 > h3 {
            font-size: 18px;
         }
         .wrapper5 > h3::before {
             top: 5%;
            left: 15%;
        }
        .wrapper5 > h3::after {
            top: 5%;
            right: 6%;
            }
        .wrapper6  {
        overflow: hidden;
        }
        .wrapper6 > form {
           align-items: center;
            flex-direction: column;
        }
        .wrapper6 > form > input {
            width: 292px;
height: 41px;
margin: 5px auto;
        }
        .wrapper6 > form > p {
            width: 297px;
height: 41px;
margin: 5px 0;
font-size: 19px;
font-weight: 400;
line-height: 22.02px;
letter-spacing: 0.91px;
        }
        .wrapper6 > form > p::before{
            display: none;
        }
        .submit {
            width: 297px;
            height: 41px;
            margin: 5px 0; 
        }
        footer {
            background: #f1f1f1 url(image/enext.png) no-repeat 50% 50%;
        }
        footer > ul {
            display: none;
        }

}
